<div class="back" id="abbount">
  <div class="container">
    <div class="img-border"></div>
    <div class="image">
      <img src="../../../assets/eu.png" alt="Foto">
    </div>
    <div class="description">
      <p class="abbount-me">Um pouco sobre mim</p>
      <h2 class="abbount">Sobre</h2>
      <p>Desenvolvedor front-end com mais de 2 anos de experiencia em criar interfaces web, estudante de sistema de informação, solido conhecimento em Angular, além de uma boa base em HTML, CSS e TypeScript com histórico comprovado em entregas de valor. Ao longa da minha carreira como desenvolvedor trabalhei em ótimas equipes, contribui para o sucesso de projetos desafiadores, focando no prazo e na qualidade da entrega assim conseguindo bons feedbacks. Busco continuamente aprimorar minhas habilidades e aplicar o meu conhecimento para impulsionar o desenvolvimento front-end.</p>
    </div>
  </div>
</div>
