<div class="back" id="home">
  <div class="grid grid-template-columns">
    <div class="describe">
      <div *ngIf="!knowMoreCliked">
        <div class="describe-hello">
          <p>{{ 'msg.home.name' | translate }}</p>
        </div>
        <div>
          <p class="describe-name">{{ "msg.home.my-name" | translate }}</p>
        </div>
        <div>
          <p class="describe-im">{{ "msg.home.i-am" | translate }} 
            <span class="describe-dev">{{ "msg.home.dev" | translate }}</span> {{ "msg.home.front-end" | translate }}
          </p>
        </div>
        <div class="describe-currently">
          <p class="">{{ "msg.home.working" | translate }}</p>
        </div>
        <div class="describe-ntt">
          <p class="">{{ "msg.home.company" | translate }} <span class="describe-dev">{{ "msg.home.company-name" | translate }}</span></p>
        </div>
      </div>

      <!-- <div class="know-more" *ngIf="knowMoreCliked">
        <p>DESENVOLVEDOR FRONT-END (PLENO)</p>
        <p>- Responsável pela análise e desenvolvimento de sistema em Angular;</p>
        <p>- Colaborar com equipes interfuncionais para definir, criar e entregar recursos web em Angular (12+).</p>
        <p>- Testar, solucionar erros e bugs do código para otimizar a performance;</p>
        <p>- Configurar, buildar e deployar a aplicação nos ambientes;</p>
        <p>- Conhecimento de Testes Unitários com Karma/Jasmine;</p>
        <p>- Acompanhar implantação em produção;</p>
        <p>- Ciclos de vida do angular. Carregamento lazy-load de módulos e páginas. Libs com componentes reutilizáveis. Compartilhamento de informações entre componentes. </p>
        <p>- Bootstrap, JavaScript/TypeScript, HTML, CSS, Testes unitários, JIRA, CONFLUENCE, boas práticas;</p>
        <p>- Atuação nos Projetos Santander: IBPJ e CANAIS PJ.</p>
      </div>

      <div class="describe-button" (click)="knowMore()">
        <a>{{ textoBotao }}</a>
      </div> -->
      <div class="social-media">
        <div class="social-media-icon">
          <a href="https://github.com/Silvio-Hub" target="_blank">
            <img src="../../../assets/icon/gitHub.png" alt="">
          </a>
          <a href="https://www.linkedin.com/in/silvio-celso-ti/" target="_blank">
            <img src="../../../assets/icon/linkedin.png" alt="">
          </a>
          <a (click)="openWhatsApp()">
            <img src="../../../assets/icon/whats.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="image" *ngIf="!knowMoreCliked">
      <img src="../../../assets/img/my-img.png" alt="">
    </div>
    <div class="image" *ngIf="knowMoreCliked">
      <img src="../../../assets/img/note.png" alt="">
    </div>
  </div>

  <div class="grid-2 grid-template-columns-2">
    <div class="card1">
      <div class="hover-content">
        <h2>{{ "msg.home.objective" | translate }}</h2>
        <p>
          {{ "msg.home.objective-description" | translate }}
        </p>
      </div>
    </div>
    <div class="card2">
      <div class="hover-content">
        <h2>{{ "msg.home.aspiration" | translate }}</h2>
        <p>{{ "msg.home.aspiration-description" | translate }}</p>
      </div>
    </div>
    <div class="card3">
      <div class="hover-content">
        <h2>{{ "msg.home.philosophy" | translate }}</h2>
        <p>{{ "msg.home.philosophy-description" | translate }}</p>
      </div>
    </div>
  </div>
</div>
