* {
  font-family: sans-serif;
}

.back {
  background: black;
}

.describe {
  // padding: 20px;
	// margin: 5px;
	// background: tomato;
	// text-align: center;
	// font-size: 1.5em;
  color: white;
  .describe-hello {
    margin-top: 10rem;
    font-size: 1.2rem;
    color: red;
  }
  .describe-name {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .describe-im {
    font-size: 2rem;
  }
  .describe-dev {
    color: red;
  }
  .describe-currently {
    margin-top: 0.7rem;
    font-size: 1.2rem;
  }
  .describe-ntt {
    margin-top: 0.3rem;
    font-size: 1.2rem;
  }
  .describe-button {
    padding: 1em;
    margin-top: 5rem;
    width: 20vh;
    text-align: center;
    border: 1px solid #9400ff;
    cursor: pointer;
    border-radius: 5px;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
    }
    .hover-content {
      transition: height 0.50s ease;
    }

    &:hover {
      background: #9400ff;
      transition: all 0.5s ease-in-out;
    }
  }
}

.image {
  // padding: 0 auto;
  // padding: 20px;
	// background: tomato;
	// font-size: 1.5em;
  // color: white;
  // margin-right: 5rem;
  img {
    height: 750px;
    width: 730px;
  }
}

.grid {
	display: grid;
  max-width: 100%;
  margin-left: 220px;
  margin-right: 220px;
}

.grid-template-columns {
	grid-template-columns: 50% 50%;
}

.grid-2 {
  display: grid;
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
}
.grid-template-columns-2 {
	grid-template-columns: 1fr 1fr 1fr;
  .card1 {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    margin-right: 2em;
    margin-top: -8em;
    margin-bottom: -8em;
    padding: 2em;
    h2 {
      text-align: left;
      margin-top: 1rem;
    }
    p{
      margin-top: 25px;
      text-align: left;
      line-height: 25px;
    }
    .hover-content {
      transition: height 0.50s ease;
    }

    &:hover {
      background: #9400ff;
      transition: all 0.5s ease-in-out;
    }
  }

  .card2 {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    margin-right: 2em;
    margin-top: -8em;
    margin-bottom: -8em;
    padding: 2em;
    h2 {
      text-align: left;
      margin-top: 1rem;
    }
    p{
      margin-top: 25px;
      text-align: left;
      line-height: 25px;
    }
    .hover-content {
      transition: height 0.50s ease;
    }

    &:hover {
      background: #9400ff;
      transition: all 0.5s ease-in-out;
    }
  }
  .card3 {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    margin-top: -8em;
    margin-bottom: -8em;
    padding: 2em;
    h2 {
      text-align: left;
      margin-top: 1rem;
    }
    p{
      margin-top: 25px;
      text-align: left;
      line-height: 25px;
    }
    .hover-content {
      transition: height 0.50s ease;
    }

    &:hover {
      background: #9400ff;
      transition: all 0.5s ease-in-out;
    }
  }
}

.know-more {
  margin-top: 10rem;
  font-size: 14px;
  p {
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }
}

