<div class="back" id="projects">
    <div class="container">
        <div class="content">
            <p class="acted">Apps que atuei</p>
            <h2>Projetos</h2>
            <div class="cards">
                <div class="card">
                    <img src="../../../assets//pokedex.jpg" alt="Foto">
                    <div class="card-body">
                        <h3>POKEDEX</h3>
                        <div>
                            <p>
                                Projeto de uma pokedex para treinar consumo de API externa 
                            </p>
                            <p class="tecno"> Angular - HTML - SCSS - API externa </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets//pokedex.jpg" alt="Foto">
                    <div class="card-body">
                        <h3>POKEDEX</h3>
                        <div>
                            <p>
                                Projeto de uma pokedex para treinar consumo de API externa 
                            </p>
                            <p class="tecno"> Angular - HTML - SCSS - API externa </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets//pokedex.jpg" alt="Foto">
                    <div class="card-body">
                        <h3>POKEDEX</h3>
                        <div>
                            <p>
                                Projeto de uma pokedex para treinar consumo de API externa 
                            </p>
                            <p class="tecno"> Angular - HTML - SCSS - API externa </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
