<div class="back" id="projects">
    <div class="container">
        <div class="content">
            <p class="acted">{{ "msg.my-projcet.app" | translate }}</p>
            <h2>{{ "msg.my-projcet.project" | translate }}</h2>
            <div class="cards">
                <div class="card">
                    <video src="../../../assets/videos/Pokedex.mp4" 
                        poster="../../../assets/img/Pokedex-image.jpg"
                        controls>
                    </video>
                    <div class="card-body">
                        <h3>POKEDEX</h3>
                        <div>
                            <p>
                                Minha Pokedex, construída com Angular, destaca as tecnologias modernas para proporcionar uma experiência interativa e informativa. 
                            </p>
                            <p class="tecno">HTML - CSS - TypeScript - Angular - Deploye Vercel</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <a href="https://pokedex-three-gilt-97.vercel.app/" target="_blank">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <video src="../../../assets/videos/alura-quiz-mp4.mp4"
                        poster="../../../assets/img/alura-quiz.jpg"
                        controls>
                    </video>
                    <div class="card-body">
                        <h3>ALURA-QUIZ</h3>
                        <div>
                            <p>
                                O meu quiz foi desenvolvido na semana com a Alura, e foi construído em React, utiliza tecnologias modernas para criar uma experiência interativa e envolvente.  
                            </p>
                            <p class="tecno">Html - CSS - JavaScript - React - Deploye Vercel</p>
                        </div>
                    </div>
                    <div class="button">
                        <a href="https://aluraquiz-base-seven-kappa.vercel.app/" target="_blank">Saiba mais</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/Portifolio.jpg" alt="print do portifólio">
                    <div class="card-body">
                        <h3>PORTIFÓLIO</h3>
                        <div>
                            <p>
                                Meu portfólio foi construído utilizando o framework Angular, aproveitando suas poderosas capacidades para desenvolvimento front-end. Adotei uma arquitetura baseada em componentes para modularizar e organizar o código. 
                            </p>
                            <p class="tecno">Html - SCSS - TypeScript - Angular - Deploye Vercel</p>
                        </div>
                    </div>
                    <div class="button">
                        <a href="https://portifolio-eight-rust-29.vercel.app/">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
