* {
    font-family: sans-serif;
  }
  
.back {
    background: #232323;
}

.container {
    margin-left: 14rem;
    padding-top: 10rem;

    .acted {
        color: rgb(245, 170, 233);
    }

    h2 {
        margin-top: 1rem;
        color: #ccc;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        width: 84%;
        margin-top: 2rem;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 28%;
            border: 1px solid #9400ff;
            padding: 1.5rem;
            background: #000;
            border-radius: 8px;
            color: #ccc;
            transition: border-color 0.5s ease;

            img, video {
                height: 25vh;
                width: 100%;
                border-radius: 8px;
                border: 1px solid;
                transition: border-color 0.5s ease;
                &:hover {
                    border-color: #9400ff;
                    background: rgba(0, 0, 0, 0.947);
                }
            }
            .card-body {
                margin-top: 2rem;
                font-size: 20px;
                padding: 1rem;
                p {
                    margin-top: 1rem;
                    font-size: 16px;
                    line-height: 1.5;
                }

                .tecno {
                    font-size: 14px;
                }
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5rem;
                a {
                    border-radius: 5px;
                    padding: 0.5rem 2rem;
                    border: 1px solid #9400ff;
                    color: white;
                    text-decoration: none;
                    font-size: 1.2rem;

                  .hover-content {
                    transition: height 0.50s ease;
                  }
              
                  &:hover {
                    background: #9400ff;
                    transition: all 0.5s ease-in-out;
                  }
                }
            }
            
            &:hover {
                border-color: rgb(245, 170, 233);
                color: #fff;
                background: rgba(0, 0, 0, 0.947);
            }

        }
    }
}