<div class="back" id="proof">
    <div class="container">
        <div class="content">
            <p class="mi-experience">{{ "msg.proof.my-experiences" | translate }}</p>
            <h2>{{ "msg.proof.places-where-worked" | translate }}</h2>
            <div class="company">
                <p class="comany-name">{{ "msg.proof.company-name" | translate }}</p>
                <div class="vertical-line"></div>
                <div class="company-description">
                    <p class="dev-front">{{ "msg.proof.dev" | translate }}</p>
                    <p class="month-enter">{{ "msg.proof.date" | translate }}</p>
                    <div class="description-activities">
                        <p>&bull; {{ "msg.proof.description-p1" | translate }}</p>
                        <p>&bull; {{ "msg.proof.description-p2" | translate }}</p>
                        <p>&bull; {{ "msg.proof.description-p3" | translate }}</p>
                        <p>&bull; {{ "msg.proof.description-p4" | translate }}</p>
                        <p>&bull; {{ "msg.proof.description-p5" | translate }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-colection">
            <p class="mi-experience">{{ "msg.proof.my-experiences" | translate }}</p>
            <h2>{{ "msg.proof.languages" | translate }}</h2>
            <p class="tec-contact">{{ "msg.proof.languages-contact" | translate }}</p>
            <div class="cards">
                <div *ngFor="let card of cards" class="card" (mouseenter)="showMsgInfo(card)" (mouseleave)="closeMsgInfo(card)">
                    <span><img [src]="card.iconSrc" alt="{{ card.alt }}"></span>
                    <p>{{ card.translationKey | translate }}</p>
                    <div *ngIf="card.showTooltip" class="tooltip">
                        {{ card.tooltipTextKey | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
