<div class="back" id="proof">
    <div class="container">
        <div class="content">
            <p class="mi-experience">Minhas experiências</p>
            <h2>Lugares onde trabalhei</h2>
            <div class="company">
                <p class="comany-name">NTT DATA Europe & Latam</p>
                <div class="vertical-line"></div>
                <div class="company-description">
                    <p class="dev-front">DESENVOLVEDOR FRONT-END.</p>
                    <p class="month-enter">Março 2021 - Presente</p>
                    <div class="description-activities">
                        <p>&bull; Responsável pela análise e desenvolvimento de sistema em Angular.</p>
                        <p>&bull; Colaborar com equipes interfuncionais para definir, criar e entregar recursos web em Angular (12+).</p>
                        <p>&bull; Testar, solucionar erros e bugs do código para otimizar a performance.</p>
                        <p>&bull; Configurar, buildar e deployar a aplicação nos ambientes.</p>
                        <p>&bull; Bootstrap, JavaScript/TypeScript, HTML, CSS, Testes unitários, JIRA, CONFLUENCE, boas práticas.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-colection">
            <p class="mi-experience">Minhas experiências</p>
            <h2>Linguagens e tecnologias</h2>
            <p class="tec-contact">Aqui estão as linguagens e tecnologias que eu tenho contato.</p>
            <div class="cards" id="cards1">
                <div class="card">
                    <span><img src="../../../assets/icon/html.png" alt="html"></span>
                    <p>HTML</p>
                </div>
                <div class="card">
                    <span><img src="../../../assets/icon/css.png" alt="html"></span>
                    <p>CSS</p>
                </div>
                <div class="card">
                    <span><img src="../../../assets/icon/angular.png" alt="html"></span>
                    <p>Angular 12+</p>
                </div>
                <div class="card">
                    <span><img src="../../../assets/icon/ts.png" alt="html"></span>
                    <p>JavaScript</p>
                </div>
                <div class="card" id="card1">
                    <span><img src="../../../assets/icon/ts.png" alt="html"></span>
                    <p>TypeScript</p>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <span><img src="../../../assets/icon/jira.png" alt="html"></span>
                    <p>Jira</p>
                </div>
                <div class="card">
                    <span><img src="../../../assets/icon/conflu.png" alt="html"></span>
                    <p>Confluence</p>
                </div>
                <div class="card">
                    <span><img src="../../../assets/icon/boots.png" alt="html"></span>
                    <p>Bootstrap</p>
                </div>
                <div class="card">
                    <span><img src="../../../assets/icon/git.png" alt="html"></span>
                    <p>Git</p>
                </div>
                <div class="card" id="card1">
                    <span><img src="../../../assets/icon/gitHub.png" alt="html"></span>
                    <p>GitHub</p>
                </div>
            </div>
        </div>
    </div>
</div>
